/*
====================
Chill Mode
==================== */

body {
  font-family: Helvetica, Arial, sans-serif;
  background-color: #eeeeee;
}

.error-box {
  background-color: white;
  max-width: 700px;
  margin: 70px auto;
  padding: 20px;
  -webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.13);
  box-shadow: 0 1px 3px rgba(0,0,0,0.13);
}

hr {
  border: 0;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #fafafa;
}


/* Typography */

h1 {
  font-size: 22px;
}